.container{
  width: 500px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  background-color: rgb(194, 241, 226);
}
button{
  width: 80px;
  margin-left: 3px;
}